.table-files tr:hover{
    background: #407d0e;
    cursor: pointer;
}
.main{
    margin: 0 auto;
    padding: 0;
}
.fine-uploader-dropzone-container , .react-fine-uploader-gallery-dropzone{
    width: 50%;
    margin: 10px;
}
.buttons_item{
    list-style: none;
    display: inline;
    padding: 0 20px;
}
.buttons ul,ul li:first-child{
    padding: 0;
}
.buttons_item a:checked{
    text-decoration: none;
    color:white;
}
.table-files th,td{
    padding: 0 10px;
}
.actions .action{

    display: inline;
    padding:10px 5px ;
}