*{
    margin: 0;
    padding: 0;
}

body td, tr, a:hover{
    cursor: pointer;
    text-decoration: none;
}

/*Кнопки File list, bookmarks etc.*/
.buttons li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin: 10px;
}

.root{
    margin: 20px auto;
}

.table__files tr:hover{
    background-color: #31B0D5;
    color : white;
    transition: all ease-out .35s;
}

.table__bookmarks a{
    text-decoration: none;
}

.table__bookmarks tr:hover{
    background-color: #EC971F;
    transition: all ease-out .35s;
}

.bookmark__item{
    margin-left: 10px;
}

.upload-from-PC, .upload-from-FB{
    text-align: center;
}

.uploads__PC__FB{
    margin-bottom:30px;
}

.fine-uploader-dropzone-container{
    margin-bottom: 30px;
}